# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\jeu-pendu\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
